@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Great+Vibes|Lobster|Pacifico|Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Griffy|Josefin+Slab|Merriweather|Oswald|Roboto&display=swap');

$font-logo: 'Lobster', cursive;
$font-question: 'Satisfy', cursive;
$font-question2: 'Merriweather',sans-serif;