$white-color: #ffffff;
$meganta-color: #E20074; // rgb(226,2,116)
$gray-color: #FAFAFA;
$white-color: #ffffff;
$black-color: #000000;

$theme-color : $meganta-color;
$light-theme-color: rgba(226,2,116,0.5);
$gray-background-color: $gray-color;
$white-background-color: $white-color;
$tooltip-background-color: #666666;
$dark-grey-background: #E6E6E6;
$border-color: #dddddd;
$light-border-color: #efefef;
$bottom-border-color: #e2e2e2;
$grey-text: #666666;
$light-text-color: #949494;
$hover-text-color: #2b6dad;
$black-text-color: #333333;