@import '../../assets/style/style.scss';

.LeftGridHomeComponent{
    div{
        cursor: pointer;
        margin-bottom: 8px;
        padding: 3px;
        border-radius: 5px;
        &:hover{
            color: $hover-text-color;
        }
        &>div{
            display: inline;
        }
    }
    .textStyle{
        display: inline;
        padding-left: 10px;
    }
    .selected{
        background-color: $dark-grey-background;
        color: $theme-color;
    }
}
