@import '../../assets/style/style.scss';

.RightGridAddTopicComponent{
    @extend .containerStyle;
        p{
            margin: 5px 0px;
            color: $black-text-color;
        }
        span{
            font-size: 0.9em;
        }
        button{
            @extend .lightThemeButton;
            margin: 10px;
            display: block;
        }
}