@import '../../assets/style/style.scss';

.LeftGridComponent{
    width: 25%;
    text-align: left;
    color: $grey-text;
    box-sizing: border-box;
    padding: 0px 20px 0px 10px;
    div{
        cursor: pointer;
        margin-bottom: 8px;
        padding: 3px;
        border-radius: 5px;
        &:hover{
            color: $hover-text-color;
        }
        &>div{
            display: inline;
        }
    }
    .textStyle{
        position: relative;
        left: 10px;
    }
    .selected{
        background-color: $dark-grey-background;
        color: $theme-color;
    }
}