@import '../../assets/style/style.scss';

.RightGridContainer{
    width: 20%;
    text-align: left;
    font-size: 0.95em;
    color: $grey-text;
    box-sizing: border-box;
    padding: 0px 15px 0px 30px;
}